.titulo_categoria {
  width: 432px;
  height: 70px;
display: flex;
justify-content: center;
  border-radius: 15px;
  align-items: center;
  color: #ffffff;
  margin: 40px 0;
}

.titulo_categoria h2 {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 800;
  line-height: 37.5px;
  color: #f5f5f5;
}

/* Tablet: entre 600px y 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
  /* Tus estilos para tablet aquí */
}

/* Mobile: hasta 600px */
@media (max-width: 768px) {
  /* Tus estilos para celulares aquí */

  .titulo_categoria {
    width: 286px;
    margin: 0;
  }

  .titulo_categoria h2{
   
font-size: 24px;
line-height: 28.13px;

  }

}
