.contenedor_categorias {
  width: 40%;
}

.contenedor_categorias label {
  display: block;
  font-family: "Source Sans 3", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  margin: 15px 0;
}

.contenedor_categorias select {
  font-family: "Source Sans 3", sans-serif;
  height: 62px;
  width: 100%;
  border: 3px solid #262626;
  background: #191919;

  font-family: "Source Sans 3", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #a5a5a5;
}
