.pie {
  width: 100%;
  height: 125px;
  background-color: #000000;
  border-top: 4px solid #2271d1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  color: #ffffff;
  box-shadow: 0px 5px 29px 0px #2271d1b2;
}

/* Tablet: entre 600px y 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
  /* Tus estilos para tablet aquí */
}

/* Mobile: hasta 600px */
@media (max-width: 768px) {
  /* Tus estilos para celulares aquí */

  .pie{
    display: none;
  }


}